/* .pageButton{
    width: 80%;
} */
 .profileLink {
  float: right;
  padding-top: 20px;
}
.links {
  color: whitesmoke;
}
.navbar-brand {
  color: white;
}
.links:hover {
  color: blue;
}

.landingCard {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding: 10px;
}

.card {
  display: flex;
  flex: 0 0 calc(33.33% - 20px);
  min-width: 300px;
  scroll-snap-align: start;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: 400px;
  width: 400px;
}

.card-img-top {
  height: 500px;
  width: 400px;
}

.dateAndTravelers {
  padding-left: 30px;
  display: flex;

  margin-bottom: 10px;
}
.input {
  padding: 10px;
  width: 20px;
}
.inputForm {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  margin-right: 10px;
}
.dateAndTravelers {
  padding-top: 5px;
  background-image: url(https://th.bing.com/th/id/OIP.WVzZ0-msmKGIIo0wP1AzEAHaEO?rs=1&pid=ImgDetMain);
} 
